@model PaginacionAPS.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
    var cantidadPaginas = (int)Math.Ceiling((double)Model.TotalDeRegistros / Model.RegistrosPorPagina);
}
<h1>Paginador</h1>
<h4>Filtro</h4>

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <label for="edad">Edad</label>
    <input type="number" name="edad" id="edad" />
    <input type="submit" value="Filtrar" class="btn btn-success" />
}

<h4>Resultados</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model.Personas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => persona.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => persona.Edad)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @await Html.PartialAsync("_paginador", Model)
</div>

