@model List<PaginacionAPS.Models.Persona>
@using PaginacionAPS.ViewModels;
@{
    ViewData["Title"] = "Paginador";

    Paginador paginador = new Paginador();

    int paginaNro = 0;

    if (ViewBag.Paginador != null)
    {
        paginador = ViewBag.Paginador;
        paginaNro = paginador.PaginaActual;
    }

    if (ViewBag.Edad != null)
    {
        paginador.Edad = ViewBag.Edad;
    }

}
<h1>Paginador</h1>

<div class="row">
    <div class="col">
        <div class="float-right">
            <h4>Filtro</h4>
            <form class="ml-auto" asp-action="Index" asp-controller="Home">
                <label for="Edad">Edad</label>
                <input type="number" name="edad" id="edad" />
                <input type="submit" value="Filtrar" class="btn btn-success" />
            </form>
        </div>
        <span class="float-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </span>
    </div>
</div>

<h4>Resultados</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => persona.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => persona.Edad)
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_paginador" model="@paginador" />

